* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transition: all .3s;
}

body {
    background: #edf6ff;
}

.Answer {
    transition: none;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
}

img {
    width: 100%;
    object-fit: cover;
}

.wrapper-title {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}


.wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}