
.game-item {
    width: 300px;
    height: 300px;
    grid-column: span 4;
}

.game-item:nth-child(4) {
    grid-column: 4 / 6;
}

.game-item-img img {
    width: 260px;
    height: 260px;
    object-fit: contain;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    justify-items: center;
}


.logic-game {
    margin-top: 100px;
}



.game-item-img {
    box-shadow: 10px 5px 20px -1px #d22530;
    min-height: 250px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    margin-bottom: 15px;
}

.game-item-img:hover {
    transform: translateY(-5px);
}


.game-item:last-child {
    grid-column: 6 / 12;
}

.games-list {
    display: grid;
    row-gap: 50px;
    justify-items: center;
    grid-template-columns: repeat(12, 1fr);
}  
.game-item-text {
    color: #39414b;
    font-weight: 600;
    text-align: center;
}
  




@media (max-width: 768px) {
    .game-item {
        grid-column: span 6;
        width: unset;
        height: unset;
    }

    .game-item-img img {
        width: 100%;
        height: 100%;
    }

    .game-list {
        gap: 20px;
    }

    .game-item:nth-child(4) {
        grid-column: span 6;
    }

    .game-item:last-child {
        grid-column: span 6;
    }
}