.games-list {
    margin-top: 100px;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    row-gap: 20px;
    
}

.games-item {
    grid-column: span 4;

}

.games-item:nth-child(4) {
    grid-column: 3 / 6;
}


.games-item:nth-child(5) {
    grid-column: 7 / 12;
}

.games-item a img {
    width: 220px;
    height: 220px; 
}

.game-item-description {
    text-align: center ;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.66);
}
.games-item-img {
    padding: 15px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.games-item-img:hover {
    transform: translateY(-5px);
}



@media (max-width:768px) {
    .games-item {
        grid-column: span 6;
    }
    .games-item:nth-child(4) {
        grid-column: span 6;
    }

    .games-item:nth-child(5) {
        grid-column: span 6;
    }

    .games-item-img img{
        width: 100%;
    }


}

@media (max-width:530px) {
    .games-item {
        grid-column: span 12;
    }
    .games-item:nth-child(4) {
        grid-column: span 12;
    }

    .games-item:nth-child(5) {
        grid-column: span 12;
    }

    .games-item-img img{
        width: 100%;
    }


}